.Categories {
  width: 156px;
  text-align: right;
  margin-right: 68px;
  height: 100%;
}

.Categorieslist {
  list-style: none;
}

.Categorieslist li {
  margin-bottom: 15px;
  font-weight: 600;
  color: #727272;
}

.CategoriesHead {
  color: #3f96d3 !important;
  font-weight: bold !important;
}
