.ItemCard {
  /* width: 150px;
  height: 200px; */
  position: relative;
}

.ItemCardName {
  color: #595959;
  font-weight: 600;
  size: 13.99px;
  margin-top: 5px;
}

.ItemCardPrice {
  color: #8e8e8e;
  size: 13.99px;
  font-weight: 500;
}

.PlusButtonDiv {
  display: inline-block;
}

.ItemQuantityDiv {
  position: relative;
  margin-top: -51px;
  margin-bottom: 12px;
  background-color: #f7f7f7;
  justify-content: space-evenly;
  padding-top: 5px;
  border-radius: 25px;
}
