.itemName {
  font-style: normal;
  font-weight: 600;
  font-size: 14.8334px;
  line-height: 20px;

  color: #595959;
}

.price {
  font-style: normal;
  font-weight: 500;
  font-size: 14.8334px;
  line-height: 20px;

  color: #8e8e8e;
}

.remove {
  font-style: normal;
  font-weight: 500;
  font-size: 11.3173px;
  line-height: 15px;

  color: #fe5050;
}

.itemBar {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.itemGroup {
  display: flex;
  flex-direction: row;
}

.suggestedSection{
  display: flex;
  justify-content: right;
}