.searchBar {
  display: flex;
  flex-direction: row;
}

.searchBarInput {
  height: 46px;
  width: 700px;
  border-color: #ebebeb;
  border-radius: 5px;
  border-style: solid;
  margin-left: 55px;
  margin-right: 41px;
  background-color: #f7f7f7;
  background-position: 10px 10px;
  padding-left: 40px;
  background-image: url("search_icon.svg");
  background-position: 15px 18px;
  background-repeat: no-repeat;
}

.searchBarInput :focus {
  background-color: aqua;
}

.wrapper {
  position: relative;
}
