input {
  width: 500px;
  height: 30px;
}

.searchBar {
  display: flex;
  flex-direction: row;
}

.searchBarInput {
  height: 46px;
  width: 732px;
  border-color: #ebebeb;
  border-radius: 5px;
  border-style: solid;
  background-color: #f7f7f7;
  margin-top: 34px;
  margin-left: 255px;
  margin-right: 123px;
  background-position: 10px 10px;
  /* background-image: url("/search_icon.svg"); */
}

.wrapper {
  position: relative;
}
