.TileSection {
  display: grid;
  width: 155px;
  height: 200px;
  text-align: left;
  grid-template-columns: repeat(4, 180px);
  gap: 10px;
  grid-auto-rows: auto;
  justify-content: stretch;
}

.TileSectionHeader {
  margin-top: 25px;
  color: 3F3F3F;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
